# Random Forest
Data : bankloan.csv
- Apply Random Forest
    - target : default
    - features : age, employ, debtinc, creddebt, othdebt
- Splitting retio 80:20 stratified
- Apply Random Forest n_estimator 20, max features 4, max depth 3
- Compute precision, recall, f1 score in test

> ## Library and Data

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import cross_val_score, GridSearchCV, train_test_split

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import classification_report

In [3]:
bank = pd.read_csv(r'C:\Users\user\Documents\Data Science\MODUL 3\What Is Ensemble_\bankloan.csv')
bank

     age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0     41   3      17       12     176      9.3  11.359392  5.008608        1
1     27   1      10        6      31     17.3   1.362202  4.000798        0
2     40   1      15       14      55      5.5   0.856075  2.168925        0
3     41   1      15       14     120      2.9   2.658720  0.821280        0
4     24   2       2        0      28     17.3   1.787436  3.056564        1
..   ...  ..     ...      ...     ...      ...        ...       ...      ...
695   36   2       6       15      27      4.6   0.262062  0.979938        1
696   29   2       6        4      21     11.5   0.369495  2.045505        0
697   33   1      15        3      32      7.6   0.491264  1.940736        0
698   45   1      19       22      77      8.4   2.302608  4.165392        0
699   37   1      12       14      44     14.7   2.994684  3.473316        0

[700 rows x 9 columns]

In [4]:
x = bank[['age', 'employ', 'debtinc', 'creddebt', 'othdebt']]
y = bank['default']

> ## Data Splitting

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x, 
                                                   y, 
                                                   stratify = y,
                                                   test_size = 0.2)

> ## Model : Tree

In [34]:
tree = DecisionTreeClassifier(max_depth = 3)
tree.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [38]:
tree_cv = cross_val_score(tree, x_train, y_train, scoring = 'f1')
print('all result :', tree_cv)
print('mean :', tree_cv.mean())
print('std :', tree_cv.std())

all result : [0.55384615 0.44897959 0.49056604 0.52631579 0.6031746 ]
mean : 0.524576435213405
std : 0.05274277894468196

In [35]:
y_pred = tree.predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.87      0.86       103
           1       0.62      0.57      0.59        37

    accuracy                           0.79       140
   macro avg       0.73      0.72      0.73       140
weighted avg       0.79      0.79      0.79       140

> ## Random Forest

In [36]:
rf = RandomForestClassifier(n_estimators = 300, max_features = 2, max_depth = 3)
rf.fit(x_train, y_train)

RandomForestClassifier(max_depth=3, max_features=2, n_estimators=300)

In [39]:
rf_cv = cross_val_score(rf, x_train, y_train, scoring = 'f1')
print('all result :', rf_cv)
print('mean :', rf_cv.mean())
print('std :', rf_cv.std())

all result : [0.32432432 0.3        0.56521739 0.42553191 0.41025641]
mean : 0.4050660081557399
std : 0.09343697845574486

In [37]:
y_pred = rf.predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.97      0.89       103
           1       0.84      0.43      0.57        37

    accuracy                           0.83       140
   macro avg       0.83      0.70      0.73       140
weighted avg       0.83      0.83      0.81       140